{release, {elevators, "1"},
 [{elevators, "1.0"},
  sasl]}.

{extended_start_script, true}.
{generate_start_script, true}.

{overlay, [
           {mkdir, "log/sasl"},
           {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
